.imageIcon {
  align-self: stretch;
  height: 429px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.madisonFroning {
  position: relative;
  line-height: 28px;
  font-weight: 600;
}
.starIcon {
  width: 20px;
  height: 20px;
  position: relative;
  border-radius: var(--br-12xs);
}
.starWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.div {
  position: relative;
  line-height: 20px;
  display: inline-block;
  min-width: 18px;
  margin-left: -2px;
}
.frameGroup,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper {
  flex-direction: column;
  padding: var(--padding-9xs-5) 0 0;
  font-size: var(--font-size-lg);
}
.madisonFroningParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.line {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
}
.crossfitExpoortNutrition,
.specialisations {
  position: relative;
  line-height: 145%;
  text-transform: capitalize;
  flex-shrink: 0;
  debug_commit: 1de1738;
}
.crossfitExpoortNutrition {
  align-self: stretch;
  line-height: 31.8px;
  font-weight: 500;
  color: var(--color-gray-100);
}
.frameParent,
.specialisationsParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.specialisationsParent {
  width: 328.3px;
  gap: var(--gap-8xs-7);
  font-size: var(--font-size-xl);
  font-family: var(--font-lato);
}
.frameParent {
  align-self: stretch;
  gap: var(--gap-2xl-5);
}
.fbIcon,
.instaIcon {
  height: 21.3px;
  width: 22.1px;
  position: relative;
  min-height: 21px;
}
.fbIcon {
  height: 21.1px;
}
.twiterIcon {
  width: 23.7px;
  height: 18.9px;
  position: relative;
}
.twiterWrapper {
  flex-direction: column;
  padding: var(--padding-11xs-2) 0 0;
}
.details,
.imageParent,
.instaParent,
.twiterWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.instaParent {
  flex-direction: row;
  gap: var(--gap-lg);
}
.details,
.imageParent {
  flex-direction: column;
}
.details {
  align-self: stretch;
  background-color: var(--color-gray-300);
  padding: var(--padding-30xl) var(--padding-23xl-5) var(--padding-30xl)
    var(--padding-25xl-5);
  box-sizing: border-box;
  gap: var(--gap-15xl-9);
  max-width: 100%;
  z-index: 1;
}
.imageParent {
  width: 448px;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
@media screen and (max-width: 450px) {
  .madisonFroning {
    font-size: var(--font-size-xl);
    line-height: 22px;
  }
  .madisonFroningParent {
    flex-wrap: wrap;
  }
  .crossfitExpoortNutrition,
  .specialisations {
    font-size: var(--font-size-base);
    line-height: 23px;
  }
}
